
body.jobs
  .ui.text.container
    max-width: 580px
  
  p
    margin-bottom: 0.5em

  .ui.list > .item
    line-height: 1.45em

  .ui.cards
    margin-top: 0.875em
    
    .card
      margin: 0.5em

    a.card:hover
      transform: translateX(5px)

  .ui.card
    > .ui.label
      position: absolute
      top: 1.95em
      right: 3em

    > i.chevron.right.icon
      position: absolute
      font-size: 1.5em
      right: 0.25em
      line-height: 3.2em
      color: rgba(0, 0, 0, 0.87)
      opacity: 0.7

    &:hover > i.chevron.right.icon
      color: inherit
      opacity: 1

    > i.icon:not(.chevron.right)
      margin-right: -0.55em
      width: 2.4em
      line-height: 2.4em
      text-align: center

    .content
      //margin-right: 1.6em
      margin-right: 7em

    > i.image.icon
      background: none