
.project
  margin-bottom: 20vh

  *
    font-family: 'Exo', sans-serif !important

  p
    line-height: 1.6

  .ui.header
    margin-top: 3em
    margin-bottom: 1em

  .ui.list
    padding-left: 1em

    .item::after
      display: none

  .ui.floated.medium.image
    font-size: 2rem !important
    margin-top: 1.5em

  .ui.section.divider
    margin-top: 5rem

.project__header
  text-align: center
  margin-bottom: 2em
  padding: 1em
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75)
  font-size: 1.5em
  color: transparentize(black, 0.25) !important

  a
    font-size: 70%
