$font-url: 'https://fonts.googleapis.com/css?family=Exo&display=swap'
@import 'semantic-ui'

body
  margin: 0
  padding: 5vh 0
  width: 100%
  height: 100vh
  min-width: 470px

  > *:last-child
    margin-bottom: 20vh !important
